body{
	background-color: #fff;
}

table button{
  height: 100px;
  width: 100px;
  margin: 1px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: rgba(108, 115, 128, 0.2);
}
h1,h2,h3{
	color: #000;
}